*/.ipynb_checkpoints
*/mylibrary
DATASETS
.my_symlinks
Perfect_Encoder/save
My_StackedAE/save
.ipynb_checkpoints
**/*.ipynb_checkpoints/
*/__pycache__/
**/*/__pycache__
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

## Pytorch models
*.pth
*/*.pth

NN_Func_Approx/Dimension_Encoding_MLP/Distributed_Dimension_Mixture_Model/output/
